@media screen and (min-width: 620px) 
  .header
    &__link
      position: relative
      &::after
        content: ''
        display: inline-block
        position: absolute
        left: 0
        bottom: -7px
        width: 100%
        height: 3px
        background-color: $third-accent-color
        transform: scaleX(0)
        transition: transform 0.3s ease-in-out
      &:hover
        &::after
          transform: scaleX(100%)
  .footer
    &__link
      position: relative
      &::after
        content: ''
        display: inline-block
        position: absolute
        left: 0
        bottom: -5px
        width: 100%
        height: 1px
        background-color: $third-accent-color
        transform: scaleX(0)
        transition: transform 0.3s ease-in-out
      &:hover
        &::after
          transform: scaleX(100%)
      &--higher
        &::after
          bottom: 1px
  .hero
    &__button
      transition: all 0.3s ease-in-out
      &:hover
        border-color: #fff
      &:active
        background-color: #fff
        color: $secondary-accent-color
        svg
          path
            fill: $secondary-accent-color
  .line-up
    &__card
      transition: background-color 0.3s ease-in-out
      &:hover
        background-color: rgba(255, 255, 255, 0.15)
    &__tabs
      &-link
        transition: all 0.3s ease-in-out
        &.active
          &:hover
            background-color: #fff
        &:hover
          background-color: rgba(255, 255, 255, 0.15)
  .button
    transition: all 0.3s ease-in-out
    &:hover
      border-color: $fourth-accent-color
    &:active
      background-color: $fourth-accent-color
      color: white