.footer
  padding: 33px 0
  width: 100%
  background-color: #000000
  font-family: 'Source Code Pro', monospace
  &__logo
    display: inline-block
    min-width: 181px
    width: 181px
    height: 48px
  &__wrapper
    display: flex
    flex-direction: column
    gap: 48px
    align-items: flex-start
  &__nav
    width: 100%
    padding: 23px 0
    border-bottom: 3px solid $third-accent-color
  &__list
    display: flex
    align-items: center
    justify-content: space-between
    list-style: none
  &__link
    color: $third-accent-color
    text-decoration: none
    font-size: 20px
    line-height: 150%
    letter-spacing: -0.38px
    text-transform: uppercase
    &--email
      font-size: 28px
      font-weight: 600
      line-height: 150%
      letter-spacing: -0.54px
      text-transform: uppercase
  &__block
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
  &__column
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 5px
    &:nth-child(3)
      align-items: flex-end
  &__year
    color: $third-accent-color
    font-size: 20px
    font-weight: 400
    line-height: 150%
    letter-spacing: -0.38px
    text-transform: uppercase