.header
  width: 100%
  position: fixed
  padding: 21px 0
  border-bottom: 3px solid $third-accent-color
  background-color: $primary-accent-color
  z-index: 1000
  &__wrapper
    display: flex
    align-items: center
    gap: 122px
  &__logo
    display: inline-block
    min-width: 181px
    width: 181px
    height: 48px
  &__nav
    width: 100%
  &__list
    display: flex
    align-items: center
    justify-content: space-between
    list-style: none
  &__link
    color: $third-accent-color
    text-decoration: none
    font-size: 24px
    line-height: 150%
    letter-spacing: -0.456px
    text-transform: uppercase