.hero
  height: 914px
  width: 100%
  position: relative
  border-bottom: 4px solid $third-accent-color
  &__button
    max-width: 231.7px
    height: 25.6%
    text-align: center
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 0
    padding: 0 25px
    background-color: $secondary-accent-color
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-size: 48px
    gap: 22px
    font-weight: 400
    line-height: 91.5%
    letter-spacing: 1.008px
    text-transform: uppercase
    text-decoration: none
    color: #fff
    border: 3px solid transparent
    svg
      width: 41px
      height: 56px
      path
        fill: white
        transition: all 0.15s ease-in-out
  &__animation
    height: 100%
    width: 100%
    &-slide
      width: 100%
      height: 100%
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      &.desktop
        &[data-slide="1"]
          background-image: url("../images/slides-hero/desktop/first.png")
        &[data-slide="2"]
          background-image: url("../images/slides-hero/desktop/second.png")
        &[data-slide="3"]
          background-image: url("../images/slides-hero/desktop/third.png")
        &[data-slide="4"]
          background-image: url("../images/slides-hero/desktop/fourth.png")
        &[data-slide="5"]
          background-image: url("../images/slides-hero/desktop/fifth.png")
        &[data-slide="6"]
          background-image: url("../images/slides-hero/desktop/sixth.png")
      &.mobile
        &[data-slide="1"]
          background-image: url("../images/slides-hero/mobile/first.png")
        &[data-slide="2"]
          background-image: url("../images/slides-hero/mobile/second.png")
        &[data-slide="3"]
          background-image: url("../images/slides-hero/mobile/third.png")
        &[data-slide="4"]
          background-image: url("../images/slides-hero/mobile/fourth.png")
        &[data-slide="5"]
          background-image: url("../images/slides-hero/mobile/fifth.png")
        &[data-slide="6"]
          background-image: url("../images/slides-hero/mobile/sixth.png")