.hero
  height: 914px
  width: 100vw
  position: relative
  border-bottom: 4px solid $third-accent-color
  &__button
    max-width: 245px
    text-align: center
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 0
    padding: 25px
    background-color: $secondary-accent-color
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-size: 48px
    gap: 22px
    font-weight: 400
    line-height: 91.5%
    letter-spacing: 1.008px
    text-transform: uppercase
    text-decoration: none
    color: #fff
    border: 3px solid transparent
    svg
      path
        fill: white
        transition: all 0.15s ease-in-out
.animation
  height: 100%
  width: 100%
  &__slide
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    &--first
      background-image: url("../images/slides-desktop/first.png")
    &--second
      background-image: url("../images/slides-desktop/second.png")
    &--third
      background-image: url("../images/slides-desktop/third.png")
    &--fourth
      background-image: url("../images/slides-desktop/fourth.png")
    &--fifth
      background-image: url("../images/slides-desktop/fifth.png")
    &--sixth
      background-image: url("../images/slides-desktop/sixth.png")

@keyframes heroSlider
  0%
    background-color: #fff
  16%
    background-color: #000
  32%
    background-color: #117fed
  48%
    background-color: #b81616
  64%
    background-color: #0bbf59
  80%
    background-color: #b4cb04
