.line-up
  margin-bottom: 230px
  &__header
    display: flex
    align-items: flex-end
    justify-content: space-between
  &__title
    color: white
    margin-bottom: 17px
  &__tabs
    margin-bottom: 36px
    display: flex
    gap: 40px
    &-link
      display: block
      width: 202px
      text-align: center
      font-family: "Source Code Pro", sans-serif
      font-size: 18px
      font-weight: 700
      line-height: 150%
      letter-spacing: -0.396px
      text-transform: uppercase
      text-decoration: none
      color: white
      padding: 12px
      border: 3px solid white
      &.active
        background-color: white
        color: #000
  &__wrapper
  &__body
    border-top: 4px solid #ffffff
    display: flex
    align-items: flex-start
    gap: 20px
  &__animation
    width: 504px
    height: 670px
    flex-basis: 70%
    &-slide
      width: 100%
      height: 100%
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      &[data-slide="1"]
        background-image: url("../images/slides-lineup/first.png")
      &[data-slide="2"]
        background-image: url("../images/slides-lineup/second.png")
      &[data-slide="3"]
        background-image: url("../images/slides-lineup/third.png")
      &[data-slide="4"]
        background-image: url("../images/slides-lineup/fourth.png")
      &[data-slide="5"]
        background-image: url("../images/slides-lineup/fifth.png")
  &__content
    flex-basis: 100%
    max-height: 670px
    overflow-y: auto
    &::-webkit-scrollbar
      width: 7px
      background: linear-gradient(270deg, #ffffff 45.24%, rgba(#ffffff, 0) 45.45%)
    &::-webkit-scrollbar-thumb 
      background-color: #ffffff
    &::-webkit-scrollbar-thumb:hover
      background-color: #ffffff
  &__card
    display: block
    font-family: "Source Code Pro", sans-serif
    color: white
    text-decoration: none
    font-size: 18px
    font-weight: 500
    line-height: 150%
    letter-spacing: -0.396px
    padding: 0 15px 0 0
    text-transform: uppercase
    border-bottom: 3px solid white
    &.active
      .line-up__card-triangle
        transform: rotate(180deg)
    &-header
      display: flex
      padding: 18.5px 0
      justify-content: space-between
    &-content
      max-width: 443px
      width: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      gap: 16px
    &-block
      max-width: 443px
      width: 100%
      display: flex
      justify-content: space-between
    &-desc
      font-size: 15px
      font-family: "Source Code Pro", sans-serif
      font-weight: 500
      line-height: 125%
      letter-spacing: -0.33px
      text-transform: none
      transition: all 0.3s ease-in-out
      &.active
        display: block
        opacity: 1
        visibility: visible
        transform: translate(0)
      &.dnone
        display: none
      &.hidden
        opacity: 0
        visibility: hidden
        transform: translateY(-20px)
    &-triangle
      transform: rotate(0)
      transition: all 0.3s ease-in-out
  &__tab
    display: none
    overflow-x: hidden
    &.active
      display: block