.input
  color: #ffffff
  background: transparent
  border: 5px solid #ffffff
  padding: 18.5px 30px
  font-family: "Source Code Pro", sans-serif
  font-size: 20px
  font-weight: 400
  line-height: 125%
  letter-spacing: -0.02px
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out
  &::placeholder
    color: rgba(#ffffff, 0.7)
    transition: color 0.3s ease-in-out
  &.error
    border-color: #dd3b3b
    color: #dd3b3b
    &::placeholder
      color: #dd3b3b